#exorcista{width: 30%;}
#exorcista{margin-left: 35%;}
#serra{margin-left: 35%;}
#serra{width: 30%;}
#carrie{width: 30%;}
#carrie{margin-left: 35%;}
#jason{width: 30%;}
#jason{margin-left: 35%;}
#freddie{margin-left: 35%;}
#freddie{width: 30%;}
#myers{width: 30%;}
#myers{margin-left: 35%;}
#pearl{width: 30%;}
#pearl{margin-left: 35%;}

h1{text-align:center;}
h1{color: rgb(141, 25, 25);}
h2{text-align: center;}
h3{text-align: center;}
h4{text-align: center;}
h5{text-align: center;}
h6{text-align: center;}
p{text-align: center;}
p{text-align: center;}

body {background-color: rgb(233, 159, 159);}
